* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    
}

body {

    background-color: #0A0E1A;
}

.wrapper{
    display: flex;
    flex: 1;
    padding: 10px;
}

.nav_bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 16px;

    color: white;
    font-size: 20px;
    background-color: #101624;
    border-bottom: 2px solid;
    border-color: #1D293D;
}

.content {
    height: 94vh;
    display: flex;
    gap: 24px;
}

.container {
    display: grid;
    flex: 1;
    height: 100%;
    gap: 10px;
    padding-top: 10px;
    border-radius: 12px;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content
}

.squad_container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #101624;
    height: 200px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #1D293D;
    color: white;
    font-size: 16px;
}

.squad_container .content {
    /* background-color: #03BF19; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    align-items: start;
}

.content .top_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content .mission_info {
    text-align: left;
}

.mission_info .relic {
    display: flex;
    justify-content: center;

    width: fit-content;

    font-size: 13px;

    background-color: #192233;
    color: #90A1B9;

    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;


    border-radius: 10px;
}

.content .players_count {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: fit-content;
    min-width: 60px;

    background-color: #192233;
    color: #90A1B9;

    padding: 6px;

    border-radius: 10px;
}

.content button {
    background-color: #00B7DA;
    color: white;
    padding: 10px;

    font-size: 16px;

    width: 90%;
    margin-top: auto;
    margin-bottom: 10px;

    border-radius: 10px;

    cursor: pointer;

}

.content button:hover {
    background-color: #00B7DA;
}

/* #region filter*/

.filter {
    background-color: #101624;
    border-right: 2px solid #1D293D;
    display: flex;
    height: 100%;
    width: 300px;
    color: white;

}

.relic_type{
    flex: 1;
}

.filter_header{
    color: #90A1B9;
}

.choice_button{
    padding: 10px;

    font-size: 16px;
    
    border-radius: 10px;
    margin-bottom: 5px;

    cursor: pointer;

    color: #CAD5E2;
    background-color: #1D293D;
}

.choice_button.selected{
    background-color: #1D293D;
}

.choice_button:hover {
    
    background-color: #192233;
    background-color: #1D293D;
}
